@{
    ViewData["title"] = "home page";
    var product = new Product() { Id =1, Name= "İbrahim",Price=100,Stock=20};
}



@section css
{

    <style>

    </style>


}

@section scripts
{
    
}



<div class="row">
    <div class="col-md-4">

        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="@ViewBag.productListPartialViewModel" />
    </div>

    <div class="col-md-4">
@* 
    1ci yol
        @await Component.InvokeAsync("ProductList",new{Type=1}) *@



        <vc:product-list type="1"></vc:product-list>

    </div>

    
    <div class="col-md-4">


        <italic>Asp.Net Core</italic>
        <product-show product="product"></product-show>
    </div>
</div>










