@{
    ViewData["Title"] = "Home Page";
    var alert = "Bu bir uyarı messajıdır";
}

@section Scripts
{
    <script type="text/javascript">
        
    
            // alert("Sayfamıza Hoşgeldiniz")
    
    
    </script>
}
@section Css{
     <link rel="stylesheet" href="~/css/example.css" />
   
    <style>
        h1{
        color:red;
        background-color:blue;
        
        }

    </style>
}



@* <partial name="_MenuPartialView"></partial> *@


<h1>Merhaba Dünya</h1>
<hr />
<h2>Merhaba Asp.Net ></h2>
 