@{
    ViewData["Title"] = " ExampleController Index Sayfası ";
    Layout = "ExampleLayout";
}


    @section header
    {
        <p>Bu kodlar headerin hemen altına eklenecek</p>
    }


@section footer
    {
    <p>Bu kodlar footorun hemen altına eklenecek</p>
}

<div>Bu Sayfa Example Controller >Index Sayfası </div>